nav.navbar.navbar-dark.bg-dark

    .container-fluid

        a.navbar-brand(href="/")
            | Asset Management

        a.btn.btn-outline-light.btn-sm(
            href="/logout"
        )
            | Logout