ul.nav.flex-column.mt-3

    li.nav-item
        a.nav-link.text-white(href="/dashboard")
            | Dashboard

    li.nav-item
        a.nav-link.text-white(href="/employees")
            | Employees

    li.nav-item
        a.nav-link.text-white(href="/categories")
            | Asset Categories

    li.nav-item
        a.nav-link.text-white(href="/assets")
            | Assets

    li.nav-item
        a.nav-link.text-white(href="/stock")
            | Stock View

    li.nav-item
        a.nav-link.text-white(href="/history")
            | Asset History