extends ../layouts/layout

block content

    h2.mb-4 Dashboard

    .row

        .col-md-3.mb-3

            .card

                .card-body

                    h5 Total Employees

                    h2 0

        .col-md-3.mb-3

            .card

                .card-body

                    h5 Total Assets

                    h2 0

        .col-md-3.mb-3

            .card

                .card-body

                    h5 Assets In Stock

                    h2 0

        .col-md-3.mb-3

            .card

                .card-body

                    h5 Issued Assets

                    h2 0